@import "tailwindcss";
 body {
  cursor: none;
  
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
 
}
 
::selection {
  background-color: #a1ff62; }

 
::-moz-selection {
  background-color: #a1ff62; 
}

